@import "reset.css";
@import "assets/fonts/fonts.css";

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

header {
    width: 100%;
    height: 90px;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(5px);
}
.header__navigation {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
    padding: 0 10px; /* Добавляем отступы по бокам */
    list-style: none; /* Убираем маркеры, если это <ul> */
}
.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    padding-right: 40px;
}
.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;

}
li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-family: 'Gilroy', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
    cursor: pointer;
}


.header__logo-name {
    font-family: 'HalvarBreit', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    line-height: 0.8;
}





main {
    height: 1800px;
}
.first-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 90px);
}
.first-main__name {
    font-family: 'HalvarBreit', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
    line-height: 0.8;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.first-main__name::before {
    content: '';
    position: absolute;
    width: 1000px; /* Размер сферы */
    height: 200px;
    background: rgba(138, 43, 226, 0.5); /* Фиолетовый цвет с прозрачностью */
    border-radius: 50%;
    filter: blur(40px); /* Размытие */
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */
}
h6 {
    font-family: 'Gilroy', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;

}